/molgw
/spectrum
molgw.tgz
molgw_*
*.mod
*.o
*.swp
src/tags
src/.tags*
src/git_sha.f90
src/basis_path.f90
src/my_machine*.arch*
/my_machine*.arch*
tests/tmp*
__pycache__/
*.py[cod]
src/noft/m_gitver.F90
src/noft/donof/
He_harm
