<style>
body {
  font-family: Sans-serif;
}
p {
  font-family: Sans-serif;
}
ul {
  font-family: Sans-serif;
}
a {
  font-family: Sans-serif;
}
h1 {
  text-align: center;
  font-family: "Arial";
}
h2 {
  font-family: "Arial";
}
h3 {
  font-family: "Arial";
}
pre {
  font-family: "Courier";
}
.code {
  font-family: "Courier";
}
.codebox {
  font-family: "Courier";
  padding: 10px;
  border: 1px solid;
  background-color:  rgb(240,240,240);
}
</style>

